{% extends "main.html" %}
{% block content %}
<h2> You are about to delete {{item.name}}! Think again.. </h2>
<form  method = 'post'>
	<button type="submit" class="btn btn-danger delete" id="submit" type="submit">
	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
	<button class="btn btn-default delete">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
		<a href = "{{ url_for('showCatalog') }}">
			Cancel
		</a>
	</button>
</form>
{% endblock %}
